body {
    font-family: Helvetica Neue;
    min-width: 400px;
    max-width: 600px;
}
/**{
    background:#3B5998;
    color:#fff;
}
*/

#disabled-options {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(100,100,100,0.9);
  margin: 0px;
  padding: 10px;
  z-index: 99;
}

div.wrapper {
  margin: 0px;
  position: relative;
}

textarea {
  width: 80%;
}