body {
    font-family: Helvetica Neue;
    min-width: 400px;
    max-width: 600px;
}
/**{
    background:#3B5998;
    color:#fff;
}
*/

div {
  margin: 20px;
}

.disabled {
  background: gray;
  color: #222;
}

#disabled-options {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

div.wrapper {
  padding: 0px;
  position: relative;
}

textarea {
  width: 80%;
}