body {
    font-family: Helvetica Neue;
}
*{
    background:#3B5998;
    color:#fff;
}
#encrypt-button, #decrypt-button {
    display: block;
    width: 80px;
    margin: 10px auto;
}

#password, textarea {
    border-color: 1px solid #1D2A5B;
    color: #888;
    background:#fff;
    margin: 0 20px;
    width: 600px;
}

textarea{
    height: 100px;
}
